<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      Some text with larger section
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      other text with other smaller section
    </div>
  </div>
</div>
